<ons-page class="activity-scan-wrap modal" data-snap-ignore="true">
	
	<!--<span class="status-bar"></span>-->
	
	<ons-scroller>
	    <a ng-click="ons.navigator.popPage()" class="icon icon-left pull-left close-scan"></a>
	    <span class="mini-title"><strong>Activity Scan</strong></span>
	    
	    <!-- .activity-scan-content -->
	    <div class="activity-scan-content inner-content">
	        <div class="fullspan-img"></div>
			<h1 class="content-title">Cocoon Experience</h1>
			<!-- .info-item -->
			<div class="content-item info-item">
				<div class="card">
					<ul class="meta">
						<li class="ss-info"></li>
					</ul>
					<div class="inner-card info-card">
						<span class="info-card-fade"></span>
						<p class="intro">Immerse yourself in the Cocoon experience in the Darwin Centre, journey through the futuristic building.</p>
						<p>Your Cocoon experience begins on the 7th floor of the building, which you reach by glass lift. Admire the breathtaking views here and the beautiful displays. Inside Cocoon, wind your way down the gently sloping curved walkways past incredible specimens and exciting activities.Your journey takes you down 2 floors on several levels and you exit on the 5th floor.</p>
						<p>Start your tour with the help of our Museum science guides who greet you on wall projections and video. These virtual guides re-appear elsewhere on your tour. They could be working for real in the Specimen Preparation Area. Take a look as you pass by.</p>
						<p>Discover 100s of real specimens from huge tarantulas to metre-high plants. Highlights include atmospheric giant wall specimen displays to films and high-tech installations.</p>
						<br><br>
					</div>
					<a ng-click="ons.screen.presentPage('website.html')" class="btn card-btn">Exhibit Website</a>
				</div>
			</div>
			<!-- /.info-item -->
			
			<!-- .video-item -->
			<div class="content-item photos-item videos-item">
				<div class="card">
					<ul class="meta">
						<li class="ss-playvideo">3</li>
					</ul>
					<div class="photos-card videos-card scroll-carousel" data-snap-ignore="true">
						<div class="video-thumb">
							<img src="assets/images/activity/nhm-8.jpg" alt="Natural History Museum">
							<span class="ss-playvideo"></span>
						</div>
						<div class="video-thumb">
							<img src="assets/images/activity/nhm-7.jpg" alt="Natural History Museum">
							<span class="ss-playvideo"></span>
						</div>
						<div class="video-thumb">
							<img src="assets/images/activity/nhm-10.jpg" alt="Natural History Museum">
							<span class="ss-playvideo"></span>
						</div>
					</div>
				</div>
			</div>
			<!-- /.video-item -->
			
			<!-- .news-item -->
			<div class="content-item news-item">
				<div class="card">
					<ul class="meta">
						<li class="ss-megaphone">3</li>
					</ul>
					<ul class="inner-card news-card">
						<li>
							<span class="date">2 days ago</span>
							<h4>Welcome our new Bugs Manager, John Doe</h4>
							<p>John joins us from The University of Birmingham, where he featured in key research into bugs and spiders.</p>
						</li>
						<li>
							<span class="date">Jan 23, 2014</span>
							<h4>Cinema Experience now Open!</h4>
							<p>Cinema can be found behind the spider room.</p>
						</li>
						<li>
							<span class="date">Dec 31, 2013</span>
							<h4>Happy New Year!!</h4>
							<p>Join us for New Years for special events.</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- .news-item -->
			
			<!-- .photos-item -->
			<div class="content-item photos-item">
				<div class="card">
					<ul class="meta">
						<li class="ss-picture">9</li>
					</ul>
					<div class="photos-card scroll-carousel" data-snap-ignore="true">
						<img src="assets/images/activity/nhm-1.jpg" alt="Natural History Museum">
						<img src="assets/images/activity/nhm-2.jpg" alt="Natural History Museum">
						<img src="assets/images/activity/nhm-3.jpg" alt="Natural History Museum">
						<img src="assets/images/activity/nhm-4.jpg" alt="Natural History Museum">
						<img src="assets/images/activity/nhm-5.jpg" alt="Natural History Museum">
						<img src="assets/images/activity/nhm-6.jpg" alt="Natural History Museum">
						<img src="assets/images/activity/nhm-7.jpg" alt="Natural History Museum">
						<img src="assets/images/activity/nhm-8.jpg" alt="Natural History Museum">
						<img src="assets/images/activity/nhm-9.jpg" alt="Natural History Museum">
					</div>
				</div>
			</div>
			<!-- /.photos-item -->
			
			<br class="clearfix">
			
			<div class="load-more">
				<a ng-click="ons.navigator.pushPage('activity-audio-tour.html')" class="btn card-btn ss-music">Audio Exhibit Tour</a>
			</div>
	        
	    </div>
	    <!-- /.activity-scan-content -->
	</ons-scroller>

</ons-page>