<ons-navigator title="Camera" hide-toolbar="true">
	<ons-page data-snap-ignore="true" class="camera-modal modal">
		
		<!-- .flip -->
		<div class="flip">
			
			<!-- .flip-card -->
			<div class="flip-card">
				
				<!-- .front -->
				<div class="face front">
					
					<!-- .bar-nav -->
					<header class="bar bar-nav">
					   <a ng-click="ons.screen.dismissPage()" class="icon icon-left icon-close pull-left"></a>
					   <a class="show-camera pull-right pull-right-text">Cancel</a>
					   <h1 class="title">Camera</h1>
					</header>
					<!-- /.bar-nav -->
					
					
					<!-- .camera-content -->
					<div class="full-content camera-content"></div>
					<!-- /.camera-content -->  
					
					<!-- .bar-capture -->  
					<footer class="bar bar-standard bar-footer bar-capture">
					   <a class="icon ss-flash"></a>
					   <a class="capture-btn ss-camera"></a>
					   <a class="icon ss-searchbarcode scan-btn camera-flip-btn"></a>
					</footer>
					<!-- /.bar-capture -->
					
					<!-- .bar-paint -->
					<footer class="bar bar-tab bar-paint">
						<nav class="paint-colours pull-left">
							<a class="red active"></a>
							<a class="blue"></a>
							<a class="purple"></a>
							<a class="yellow"></a>
							<a class="green"></a>
						</nav>
						<a class="ss-replay pull-right"></a>
					</footer>
					<!-- /.bar-paint -->
					
					<!-- .bar-capture-actions -->
					<nav class="bar bar-tab bar-capture-actions">
					    <a class="tab-item">
					    	<span class="icon ss-draw"></span>
					    </a>
					    <a ng-click="ons.navigator.pushPage('photos-add.html')"  class="tab-item">
					    	<span class="icon ss-picture"></span>
					    </a>
					    <a class="tab-item" ng-click="ons.navigator.pushPage('group-add-back.html')">
					    	<span class="icon ss-usergroup"></span>
					    </a>
					    <a class="tab-item" ng-click="ons.navigator.pushPage('challenge-list-add.html')">
					    	<span class="icon ss-checkclipboard"></span>
					    </a>
					</nav>
					<!-- /.bar-capture-actions -->
					
				</div>
				<!-- /.front -->
				
				<!-- .back -->
				<div class="face back">
				
					<!-- .bar-nav -->
					<header class="bar bar-nav">
					   <a ng-click="ons.screen.dismissPage()" class="icon icon-left icon-close pull-left"></a>
					   <h1 class="title">Code Scanner</h1>
					</header>
					<!-- /.bar-nav -->
					
					<!-- .scan-content -->
					<div class="full-content scan-content"><div class="scanner"></div></div> 
					<!-- /.scan-content -->
					
					<!-- .bar-capture -->
					<footer class="bar bar-standard bar-footer bar-capture">
					   <a class="icon ss-flash"></a>
					   <a class="capture-btn ss-searchbarcode" ng-click="ons.screen.presentPage('activity-scan.html')"></a>
					   <a class="icon ss-camera scan-flip-btn"></a>
					</footer>
					<!-- /.bar-capture -->
					
				</div>
				<!-- /.back -->
				
			</div> 
			<!-- /.flip-card -->
			
			<!-- .flash -->
			<div class="flash"></div>	
			<!-- /.flash -->
			
		</div>
		<!-- /.flip -->
		
	</ons-page>
</ons-navigator>