<ons-navigator title="Challenges" hide-toolbar="true">
	<ons-page class="challenges-wrap">
				
		<!-- .bar-nav -->
		<header class="bar bar-nav">
			<a id="left-side-menu" class="icon icon-menu pull-left"></a>
		    <a ng-click="ons.screen.presentPage('camera.html')" class="icon icon-camera pull-right ss-camera"></a>
		    <h1 class="title logo"></h1>
		</header>
		<!-- /.bar-nav -->
		
		<ons-scroller>

		    <!-- .challenges-content -->
		    <div class="challenges-content inner-content">

		        <div class="fullspan-img"></div>
		        
		        <h1 class="content-title">Challenges</h1>
				
				<!-- .all-challenges -->
				<div class="all-challenges">
					<h2 class="sub-title ss-checkclipboard">Activity Challenges</h2>
		        	<ul class="scroll-carousel" data-snap-ignore="true">
		        		
		        		<!-- .challenge-scroll-item -->
			        	<li class="challenge-scroll-item">
			        		
			        		<!-- .card -->
			        		<div class="card">
			        		
			        			<ul class="meta">
			        			    <li class="time ss-medal">20 <span>Points Earned</span></li>
			        			    <li class="tasks ss-checkclipboard">4</li>
			        			    <li class="tasks ss-linechartclipboard">3</li>
			        			</ul>
			        			
			        		    <div class="progress-bar-wrap">
			        		        <span class="progress-bar bar-80"></span>
			        		    </div>
			        		    
			        		    <a ng-click="ons.navigator.pushPage('activity.html')" class="inner-card">
			        		    	<!--<img src="assets/images/activity/nhm-sm.jpg" alt="">-->
			        		        <h3 class="ss-bookmark" ng-click="ons.navigator.pushPage('activity.html')">Natural History <br>Museum</h3>
			        		    </a>
	
	        		            <!-- .challenges-list -->
	        		            <ul class="challenges-list">
	        		                <li>
	        		                	<a ng-click="ons.navigator.pushPage('challenge-photo.html')" class="inner-card">
	        		                	    <span class="checkbox ss-check"></span>
	        		                	    <h3>Describe a dinosaur...</h3>
	        		                	</a>
	        		                </li>
	        		                <li class="completed">
	        		                	<a ng-click="ons.navigator.pushPage('challenge-complete.html')" class="inner-card">
	        		                	    <span class="checkbox ss-check checked"></span>
	        		                	    <h3>10 photos of rare na...</h3>
	        		                	</a>
	        		                </li>
	        		                <li>
	        		                	<a ng-click="ons.navigator.pushPage('challenge-photo.html')" class="inner-card">
	        		                	    <span class="checkbox ss-check"></span>
	        		                	    <h3>Answer these 5 que...</h3>
	        		                	</a>
	        		                </li>
	        		            </ul>
	        		            <button class="btn card-btn" ng-click="ons.navigator.pushPage('activity-challenges.html')">Activity Challenges</button>
	        		            <!-- /.challenges-list -->
			        		</div>
			        		<!-- /.card -->
			        	</li>
			        	<!-- /.challenge-scroll-item -->
			        	
			        	<!-- .challenge-scroll-item -->
			        	<li class="challenge-scroll-item">
			        		
			        		<!-- .card -->
			        		<div class="card">
			        		
			        			<ul class="meta">
			        			    <li class="time ss-medal">52 <span>Points Earned</span></li>
			        			    <li class="tasks ss-checkclipboard">1</li>
			        			    <li class="tasks ss-linechartclipboard">7</li>
			        			</ul>
			        			
			        		    
			        		    <a ng-click="ons.navigator.pushPage('activity.html')" class="inner-card">
			        		    	<!--<img src="assets/images/activity/nhm-sm.jpg" alt="">-->
			        		        <h3 class="ss-rocket" ng-click="ons.navigator.pushPage('activity.html')">Science Museum <br>Museum</h3>
			        		    </a>
	
	        		            <!-- .challenges-list -->
	        		            <ul class="challenges-list">
	        		                <li>
	        		                	<a ng-click="ons.navigator.pushPage('challenge-photo.html')" class="inner-card">
	        		                	    <span class="checkbox ss-check"></span>
	        		                	    <h3>Questions on Space</h3>
	        		                	</a>
	        		                </li>
	        		                <li class="completed">
	        		                	<a ng-click="ons.navigator.pushPage('challenge-complete.html')" class="inner-card">
	        		                	    <span class="checkbox ss-check checked"></span>
	        		                	    <h3>8 photos of Space...</h3>
	        		                	</a>
	        		                </li>
	        		                <li class="completed">
	        		                	<a ng-click="ons.navigator.pushPage('challenge-photo.html')" class="inner-card">
	        		                	    <span class="checkbox ss-check checked"></span>
	        		                	    <h3>T-Rex Topical Que...</h3>
	        		                	</a>
	        		                </li>
	        		            </ul>
	        		            <button class="btn card-btn" ng-click="ons.navigator.pushPage('activity-challenges.html')">Activity Challenges</button>
	        		            <!-- /.challenges-list -->
			        		</div>
			        		<!-- /.card -->
			        	</li>
			        	<!-- /.challenge-scroll-item -->
			        	
			        	<!-- .challenge-scroll-item -->
			        	<li class="challenge-scroll-item">
			        		
			        		<!-- .card -->
			        		<div class="card">
			        		
			        			<ul class="meta">
			        			    <li class="time ss-medal">0 <span>Points Earned</span></li>
			        			    <li class="tasks ss-checkclipboard">0</li>
			        			    <li class="tasks ss-linechartclipboard">10</li>
			        			</ul>
			        			
			        		    
			        		    <a ng-click="ons.navigator.pushPage('activity.html')" class="inner-card">
			        		    	<!--<img src="assets/images/activity/nhm-sm.jpg" alt="">-->
			        		        <h3 class="ss-hanger" ng-click="ons.navigator.pushPage('activity.html')">V&A</h3>
			        		    </a>
	
	        		            <!-- .challenges-list -->
	        		            <ul class="challenges-list">
	        		                <li>
	        		                	<a ng-click="ons.navigator.pushPage('challenge-photo.html')" class="inner-card">
	        		                	    <span class="checkbox ss-check"></span>
	        		                	    <h3>Find all of the Ha...</h3>
	        		                	</a>
	        		                </li>
	        		                <li>
	        		                	<a ng-click="ons.navigator.pushPage('challenge-complete.html')" class="inner-card">
	        		                	    <span class="checkbox ss-check"></span>
	        		                	    <h3>Discuss the Roya...</h3>
	        		                	</a>
	        		                </li>
	        		                <li>
	        		                	<a ng-click="ons.navigator.pushPage('challenge-photo.html')" class="inner-card">
	        		                	    <span class="checkbox ss-check"></span>
	        		                	    <h3>Answer these abou...</h3>
	        		                	</a>
	        		                </li>
	        		            </ul>
	        		            <button class="btn card-btn" ng-click="ons.navigator.pushPage('activity-challenges.html')">Activity Challenges</button>
	        		            <!-- /.challenges-list -->
			        		</div>
			        		<!-- /.card -->
			        	</li>
			        	<!-- /.challenge-scroll-item -->
			        	
		        	</ul>
		        	
		        	<ul class="scroll-dots">
		        		<li></li>
		        		<li></li>
		        		<li></li>
		        	</ul>
		        	
		        </div>
				<!-- /.all-challenges -->
		        
		        <!-- .challenges-table -->
		        <div class="content-item challenges-results challenges-item challenges-top-3">
		        	<div class="sub-title ss-analytics">Scoreboards</div>
		        	<ul class="scroll-carousel" data-snap-ignore="true">
		            	<li class="card">
		            		<h2>Groups</h2>
		            		<h4>Top 5 Group performers!</h4>
		            		<ul class="challenges-table">
		            			<li class="gold">
		            			    <a class="green">
		            			    	<span class="position">1</span>
		            			    	<h3>Green</h3>
		            			    	<span class="points">32pts</span>
		            			    </a>
		            			</li>
		            			<li class="silver">
		            				<a class="blue">
		            					<span class="position">2</span>
		            				    <h3>Blue</h3>
		            				    <span class="points">31pts</span>
		            			    </a>
		            			</li>
		            			<li class="bronze">
		            				<a class="purple">
		            					<span class="position">3</span>
		            				    <h3>Purple</h3>
		            				    <span class="points">25pts</span>
		            			    </a>
		            			</li>
		            			<li>
		            				<a class="yellow">
		            					<span class="position">4</span>
		            				    <h3>Yellow</h3>
		            				    <span class="points">20pts</span>
		            			    </a>
		            			</li>
		            			<li>
		            				<a class="red">
		            					<span class="position">5</span>
		            				    <h3>Red</h3>
		            				    <span class="points">19pts</span>
		            			    </a>
		            			</li>
		            		</ul>
		            	</li>
		            	<li class="card">
		            		<h2>Individuals</h2>
		            		<h4>Top 5 Student Performers!</h4>
		            		<ul class="challenges-table challenges-individual">
		            			<li class="gold" ng-click="ons.screen.presentPage('profile-purple.html')">
		            			    <a class="green">
		            			    	<span class="avatar sarah">1</span>
		            			    	<h3>Jason Gomes</h3>
		            			    	<span class="points">48pts</span>
		            			    </a>
		            			</li>
		            			<li class="silver" ng-click="ons.screen.presentPage('profile-purple.html')">
		            				<a class="blue">
		            					<span class="avatar steve">1</span>
		            				    <h3>Steve Austin</h3>
		            				    <span class="points">42pts</span>
		            			    </a>
		            			</li>
		            			<li class="bronze" ng-click="ons.screen.presentPage('profile-purple.html')">
		            				<a class="purple">
		            					<span class="avatar sarah">1</span>
		            				    <h3>Sarah Jones</h3>
		            				    <span class="points">37pts</span>
		            			    </a>
		            			</li>
		            			<li>
		            				<a class="yellow" ng-click="ons.screen.presentPage('profile-purple.html')">
		            					<span class="avatar james">1</span>
		            				    <h3>John Evans</h3>
		            				    <span class="points">36pts</span>
		            			    </a>
		            			</li>
		            			<li>
		            				<a class="red" ng-click="ons.screen.presentPage('profile-purple.html')">
		            					<span class="avatar denver">1</span>
		            				    <h3>Denver Wash...</h3>
		            				    <span class="points">24pts</span>
		            			    </a>
		            			</li>
		            		</ul>
		            		<!--<a class="btn card-btn">View Trip Scores</a>-->
		            	</li>
		            	<li class="card">
		            		<h2>Group</h2>
		            		<h4>Top 5 performers in your Group!</h4>
		            		<ul class="challenges-table challenges-individual">
		            			<li class="gold" ng-click="ons.screen.presentPage('profile-purple.html')">
		            			    <a class="green">
		            			    	<span class="avatar kele">1</span>
		            			    	<h3>Kele Homes</h3>
		            			    	<span class="points">85pts</span>
		            			    </a>
		            			</li>
		            			<li class="silver" ng-click="ons.screen.presentPage('profile-purple.html')">
		            				<a class="blue">
		            					<span class="avatar katie">1</span>
		            				    <h3>Katie Hopkins</h3>
		            				    <span class="points">74pts</span>
		            			    </a>
		            			</li>
		            			<li class="bronze" ng-click="ons.screen.presentPage('profile-purple.html')">
		            				<a class="purple">
		            					<span class="avatar denver">1</span>
		            				    <h3>Denver Wash...</h3>
		            				    <span class="points">56pts</span>
		            			    </a>
		            			</li>
		            			<li>
		            				<a class="yellow" ng-click="ons.screen.presentPage('profile-purple.html')">
		            					<span class="avatar natasha">1</span>
		            				    <h3>Natasha Cope</h3>
		            				    <span class="points">45pts</span>
		            			    </a>
		            			</li>
		            			<li>
		            				<a class="red" ng-click="ons.screen.presentPage('profile-close.html')">
		            					<span class="avatar john">1</span>
		            				    <h3>James Wilson</h3>
		            				    <span class="points">24pts</span>
		            			    </a>
		            			</li>
		            		</ul>
		            		<!--<a class="btn card-btn">View Trip Scores</a>-->
		            	</li>
		            </ul>
		            
		            <ul class="scroll-dots">
		            	<li></li>
		            	<li></li>
		            	<li></li>
		            </ul>
		            
		        </div>
		        <!-- /.challenges-table -->
		        
		    </div>
		    <!-- /.challenges-content -->
		
		</ons-scroller>
	
	</ons-page>	 
</ons-navigator>