<ons-page class="challenge-wrap challenge-incomplete-wrap">
		
	<!-- .bar-nav -->
	<header class="bar bar-nav">
	    <a ng-click="ons.navigator.popPage()" class="icon icon-left pull-left"></a>
	    <a ng-click="ons.screen.presentPage('camera.html')" class="icon icon-camera pull-right ss-camera"></a>
	    <h1 class="title">Challenge</h1>
	</header>
	<!-- /.bar-nav -->
	
	<ons-scroller>
 	
	   	<!-- .challenge-content -->
	   	<div class="inner-content incomplete-challenge" style="background-color: #8750b9;">
	   	
	   	    <h4 class="status incomplete">Active</h4>
	   	    
	   	    <h1 class="content-title top-content-title h2">8 Photos of Rare Natural Habitats</h1>
	   		
	   		<div class="content-intro">
	   			<p>Add 8 photos that you can find whilst 
	   			walking around the Natural History Museum!</p>
	   			<span class="point-worth">This Challenge is worth 10 points</span>
	   		</div>
	   		
	   	    
	   	   
	   	    <div class="challenge-content">
	   	    
		   	    <!-- .challenge-item -->
		   	    <ul class="content-item photo-challenge-item">
		   	    	<li><span class="photo photo-1"></span></li>
		   	    	<li><span class="photo photo-2"></span></li>
		   	    	<li><span class="photo photo-3"></span></li>
		   	    	<li><button ng-click="ons.screen.presentPage('photos.html')" class="ss-picture">Add Image</button></li>
		   	    	<li><button ng-click="ons.screen.presentPage('photos.html')" class="ss-picture">Add Image</button></li>
		   	    	<li><button ng-click="ons.screen.presentPage('photos.html')" class="ss-picture">Add Image</button></li>
		   	    	<li><button ng-click="ons.screen.presentPage('photos.html')" class="ss-picture">Add Image</button></li>
		   	    	<li><button ng-click="ons.screen.presentPage('photos.html')" class="ss-picture">Add Image</button></li>
		   	    </ul>
		   	    <!-- /.challenge-item -->
		   	    
		   	    <div class="challenge-total"><strong>3 Points</strong> collected so far!</div>
		   	    
		   	</div>

	   		<!-- .challenges-table -->
	   		<!--<div class="content-item challenges-results challenges-item challenges-top-3">
	   			<div class="card">
	   				<h2>Challenge Scores</h2>
	   				<h4>Current challenge scores compared!</h4>
	   				<ul class="challenges-table">
	   					<li ng-click="ons.screen.presentPage('profile-purple.html')" class="gold">
	   					    <a class="purple">
	   					    	<span class="position">1</span>
	   					    	<h3>John Evans</h3>
	   					    	<span class="points">30pts</span>
	   					    </a>
	   					</li>
	   					<li class="silver">
	   						<a ng-click="ons.screen.presentPage('profile-purple.html')" class="purple">
	   							<span class="position">2</span>
	   						    <h3>Sarah Jones</h3>
	   						    <span class="points">25pts</span>
	   					    </a>
	   					</li>
	   					<li class="bronze">
	   						<a ng-click="ons.screen.presentPage('profile-purple.html')" class="purple">
	   							<span class="position">3</span>
	   						    <h3>Kele Homes</h3>
	   						    <span class="points">15pts</span>
	   					    </a>
	   					</li>
	   					<li>
	   						<a ng-click="ons.screen.presentPage('profile-purple.html')" class="purple">
	   							<span class="position">4</span>
	   						    <h3>Steve Austin</h3>
	   						    <span class="points">10pts</span>
	   					    </a>
	   					</li>
	   					<li>
	   						<a ng-click="ons.screen.presentPage('profile-purple.html')" class="purple">
	   							<span class="position">5</span>
	   						    <h3>John Wilson</h3>
	   						    <span class="points">0pts</span>
	   					    </a>
	   					</li>
	   				</ul>
	   				<!--<a class="btn card-btn">View All Challenges</a>--*>
	   			</div>
	   		</div>-->
	   		<!-- /.challenges-table -->

	   	</div>
	   	<!-- /.challenge-content -->
		
	</ons-scroller>
	
</ons-page>	