<ons-page class="challenge-wrap challenge-complete-wrap">
		
	<!-- .bar-nav -->
	<header class="bar bar-nav">
	    <a ng-click="ons.navigator.popPage()" class="icon icon-left pull-left"></a>
	    <a ng-click="ons.screen.presentPage('camera.html')" class="icon icon-camera pull-right ss-camera"></a>
	    <h1 class="title">Challenge</h1>
	</header>
	<!-- /.bar-nav -->
	
	<ons-scroller>
 	
	   	<!-- .challenge-content -->
	   	<div class="inner-content complete-challenge" style="background-color: #8750b9;">
	   	
	   	    <h4 class="status completed">Completed</h4>
	   	    
	   	    <h1 class="content-title top-content-title h2">Questions on the T-Rex!</h1>
	   		
	   		<div class="content-intro">
	   			<p>Answer these questions and grab some points for your group.</p>
	   			<span class="point-worth">This Challenge is worth 25 points</span>
	   		</div>
	   		
	   	    
	   	   
	   	    <div class="challenge-content">
	   	    
		   	    <!-- .challenge-item -->
		   	    <ul class="content-item question-challenge-item">
		   	    	<li class="card question-wrap">
		   	    		<h3 class="question">Why does T-Rex have the shortest arms within the Dino kingdom?</h3>
		   	    		<textarea>They have short arms to help with catching animals. The shortness helps strength the power of their claws??</textarea>
		   	    	</li>
		   	    	<li class="card question-wrap">
		   	    		<h3 class="question">How many stomachs do T-Rex's have?</h3>
		   	    		<ul class="answers-radio">
		   	    			<li class="radio-wrap">
		   	    				<span class="radio"></span>
		   	    				<span class="radio-label h4">3</span>
		   	    			</li>
		   	    			<li class="radio-active radio-wrap">
		   	    				<span class="radio"></span>
		   	    				<span class="radio-label h4">5</span>
		   	    			</li>
		   	    			<li class="radio-wrap">
		   	    				<span class="radio"></span>
		   	    				<span class="radio-label h4">6</span>
		   	    			</li>
		   	    		</ul>
		   	    	</li>
		   	    	<li class="card question-wrap">
		   	    		<h3 class="question">Describe the natural habitat of a T-Rex</h3>
		   	    		<textarea>I think they linked a warm climate and fossils have proven they lived around the African region – close to the equator. They tended to live near lakes or sometimes the sea, but struggled to find food near the sea so were often known for moving inland.</textarea>
		   	    	</li>
		   	    </ul>
		   	    <!-- /.challenge-item -->
		   	    
		   	    <div class="challenge-total"><strong>15 Points</strong> collected!</div>
		   	    
		   	</div>

	   	</div>
	   	<!-- /.challenge-content -->
		
	</ons-scroller>
	
</ons-page>	