
<ons-page class="group-chat-wrap">
		
	<!-- .bar-nav -->
	<header class="bar bar-nav">
	    <a ng-click="ons.navigator.popPage()" class="icon icon-left pull-left"></a>
	    <a ng-click="ons.screen.presentPage('camera.html')" class="icon icon-camera pull-right ss-camera"></a>
	    <h1 class="title">Group Chat</h1>
	</header>
	<!-- /.bar-nav -->
	
	<!--<div class="chat-gradient"></div>-->
	
	<div class="chat-input">
		<a class="chat-input-photo ss-camera" ng-click="ons.screen.presentPage('photos.html')"></a>
		<input type="text" placeholder="Group message">
		<a class="chat-send">Send</a>
	</div>
	
	<ons-scroller>
	
		<!-- .group-members -->
		<ul class="scroll-carousel group-list-avatars" data-snap-ignore="true">
			<li><button ng-click="ons.screen.presentPage('profile-close.html')" class="avatar john"></button></li>
			<li><button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar james"></button></li>
			<li><button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar sarah"></button></li>
			<li><button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar kele"></button></li>
			<li><button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar"></button></li>
			<li><button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar steve"></button></li>
			<li><button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar denver"></button></li>
			<li><button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar natasha"></button></li>
			<li><button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar teacher"></button></li>
		</ul>
		<!-- /.group-members -->
  		
	   	<!-- .group-chat -->
	   	<div class="group-chat inner-content">
	   		<!-- .chat -->
			<ul class="chat">
				<li class="timestamp">Today at 9:01am</li>
	   	    	<li>
	   	    		<button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar natasha"></button>
	   	    		<div class="bubble">Man this train is boring! We must be there soon?</div>
	   	    	</li>
	   	    	<li>
	   	    		<div class="bubble my-bubble">Quit moaning Natasha!</div>
	   	    	</li>
	   	    	<li class="timestamp">Today at 11:24am</li>
	   	    	<li>
	   	    		<button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar sarah"></button>
	   	    		<div class="bubble">Where is everybody?</div>
	   	    	</li>
	   	    	<li>
	   	    		<button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar kele"></button>
	   	    		<div class="bubble">We’re over by the cafe drinking 
	   	    		some lattes...</div>
	   	    	</li>
	   	    	<li>
	   	    		<button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar sarah"></button>
	   	    		<div class="bubble">Okay, I'll make my way over there. Grab me a double espresso please!</div>
	   	    	</li>
	   	    	<li>
	   	    		<button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar steve"></button>
	   	    		<div class="bubble">
	   	    			<img src="assets/images/activity/nhm-4.jpg" alt="">
	   	    		Jeez, it's so busy in the dino area, look!!</div>
	   	    	</li>
	   	    	<li class="timestamp">Today at 12:32pm</li>
	   	    	<li>
	   	    		<div class="bubble my-bubble">I am loving the Science Museum!! But I am kinda lost... where is everybody??</div>
	   	    	</li>
	   	    	<li>
	   	    		<button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar denver"></button>
	   	    		<div class="bubble">James, we're in the natural science section, upstairs</div>
	   	    	</li>
	   	    	<li>
	   	    		<button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar natasha"></button>
	   	    		<div class="bubble">Anyone find those collectible stickers yet for the Science Museum activity?!?!</div>
	   	    	</li>
	   	    	<li>
	   	    		<div class="bubble my-bubble">Yeah, come and meet me at the modern culture section and I can help you</div>
	   	    	</li>
	   	    	<li class="timestamp">Today at 12:52pm</li>
	   	    	<li>
	   	    		<div class="bubble my-bubble">Natasha where are you?!?!? I've been waiting for over 10 mins now!</div>
	   	    	</li>
	   	    	<li>
	   	    		<button ng-click="ons.screen.presentPage('profile-purple.html')"  class="avatar steve"></button>
	   	    		<div class="bubble">We're all in the cafe!</div>
	   	    	</li>
	   	    	<li class="timestamp">Today at 2:21pm</li>
	   	    	<li>
	   	    		<button class="avatar teacher"></button>
	   	    		<div class="bubble">I am just reminding all pupils, we only have 40minutes left, so start to make your way back to me outside the entrance of the V&A museum.</div>
	   	    	</li>
	   	    
	   	    	
	   	    	<li class="clearfix"></li>
	   	   	</ul>
	   	   	<!-- /.chat -->

	   	</div>
	   	<!-- /.group-chat -->

	</ons-scroller>
	
</ons-page>	