<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<!--<meta name="viewport" content="width=device-width, user-scalable=no" />-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Yello">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<link rel="stylesheet" href="static/styles/screen.css">
	
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	
	<script src="phonegap.js"></script>
	<script src="static/scripts/jquery.min.js"></script>
	<script src="static/scripts/ratchet.js"></script>
	<script src="static/fonts/pika/ss-pika.js"></script>
	<script src="static/scripts/carousel.min.js"></script>
	<script src="static/scripts/menu.min.js"></script>
	<script src="static/scripts/main.js"></script>

	{% block header %}
	<title>{% block title %}Yello{% endblock %}</title>
	{% endblock header %}
	
</head>
  <body onload="init();">
	
	<!-- .main -->
	<nav class="snap-drawers side-menu">
		<ul class="snap-drawer snap-drawer-left" id="left-drawer">
			<li><a href="timeline.html" class="tab-item ss-clock" data-ignore="push"></a></li>
			<li><a href="group.html" class="tab-item ss-usergroup" data-ignore="push">
			</a></li>
			<li><a href="challenges.html" class="tab-item ss-checkclipboard" data-ignore="push"></a></li>
			<li><a href="profile.html" class="tab-item ss-user" data-ignore="push"></a></li>
			<li class="exit-yello"><a href="#" class="tab-item ss-logout" >Exit</a></li>
		</ul>
	</nav>
	<!-- /.main-nav -->
	
	<!-- #content -->
	<div id="content" class="snap-content">
	
		{% block content %}
		{% endblock content %}

	</div>
	<!-- /#content -->	
	
	{% include 'modals.html' %}
	
    <style>
    .mini-modal-wrap, .dark-overlay{
    	//display: none!important;
    }
    </style>
    
  </body>
</html>