	<!-- .mini-modal-group -->
	<div class="mini-modal-wrap mini-modal-group">
	    <div class="mini-modal">
	        <h3>Selected group</h3>
	        <h1>Purple</h1>
	        <div id="group-carousel" class="group-list-avatars owl-carousel">
	        	<div><a href="#" class="avatar john">James Wilson</a></div>
	            <div><a href="#" class="avatar james">John Evans</a></div>
	            <div><a href="#" class="avatar sarah">Sarah Jones</a></div>
	            <div><a href="#" class="avatar kele">Kele Homes</a></div>
	            <div><a href="#" class="avatar steve">Sarah Jones</a></div>
	            <div><a href="#" class="avatar denver">Denver Washington</a></div>
	            <div><a href="#" class="avatar natasha">Natasha Cope</a></div>
	            <div><a href="#" class="avatar teacher">Mrs Davis</a></div>
	        </div>
	        <div class="modal-footer">
	           <button class="btn blue-btn close-mini-modal">Begin trip</button> 
	        </div>
	    </div>
	</div>
	<!-- /.mini-modal-group -->
	
	<!-- #camera -->
	<div id="camera" class="modal flip">
		
		<div class="flip-card">
		
			<div class="face front">
			
				<header class="bar bar-nav">
				   <a class="icon icon-close pull-left camera-delayflip-btn close-modal" href="#camera"></a>
				   <h1 class="title">Camera</h1>
				</header>
				
				<header class="bar bar-tab bar-paint">
					<nav class="paint-colours pull-left">
						<a class="red active"></a>
						<a class="blue"></a>
						<a class="purple"></a>
						<a class="yellow"></a>
						<a class="green"></a>
					</nav>
					<a class="ss-replay pull-right"></a>
				</header>
				
				<div class="content camera-content"></div>
				  
				<footer class="bar bar-standard bar-footer bar-capture">
				   <a class="icon ss-flash"></a>
				   <a href="#" class="capture-btn show-camera-capture ss-camera"></a>
				   <a class="icon ss-searchbarcode scan-btn camera-flip-btn"></a>
				</footer>
				
				<nav class="bar bar-tab bar-capture-actions">
				    <a class="tab-item">
				    	<span class="icon ss-trash show-camera"></span>
				    </a>
				    <a href="#photos" class="tab-item add-photo close-modal">
				    	<span class="icon ss-download"></span>
				    </a>
				    <a class="tab-item">
				    	<span class="icon ss-usergroup"></span>
				    </a>
				    <a class="tab-item">
				    	<span class="icon ss-checkclipboard"></span>
				    </a>
				</nav>
	
			</div>
			
			<div class="face back">
				<header class="bar bar-nav">
				   <a class="icon icon-close pull-left close-modal" href="#camera"></a>
				   <h1 class="title">Code Scanner</h1>
				</header>
				
				<div class="content scan-content"><div class="scanner"></div></div> 
				
				<footer class="bar bar-standard bar-footer bar-capture">
				   <a class="icon ss-flash"></a>
				   <a href="#" class="capture-btn ss-searchbarcode"></a>
				   <a class="icon ss-camera scan-flip-btn"></a>
				</footer>
			</div>
			
		</div> 
		
		<div class="flash"></div>	
		      
	</div>
	<!-- /#camera -->
	
	<!-- #photos -->
	<div id="photos" class="modal">
		<!-- .bar-nav -->
		<header class="bar bar-nav">
		    <a class="icon icon-close pull-left close-modal" href="#photos"></a>
		    <a href="#camera" class="icon icon-camera pull-right modal-btn ss-camera"></a>
		    <h1 class="title">Photos</h1>
		</header>
		
		<ul class="content">
			<li><img src="static/images/activity/nhm-7.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-1.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-2.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-3.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-4.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-5.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-6.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-8.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-9.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-10.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-1.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-2.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-3.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-4.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-5.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-6.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-7.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-8.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-9.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-10.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-1.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-2.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-3.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-4.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-5.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-6.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-7.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-8.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-9.jpg" alt=""></li>
			<li><img src="static/images/activity/nhm-10.jpg" alt=""></li>
		</ul>
		
		<nav class="bar bar-tab">
		    <a class="tab-item">
		    	<span class="icon ss-trash show-camera"></span>
		    </a>
		    <a class="tab-item">
		    	<span class="icon ss-usergroup"></span>
		    </a>
		    <a class="tab-item">
		    	<span class="icon ss-checkclipboard"></span>
		    </a>
		</nav>
		<!-- /.bar-nav -->
	</div>
	<!-- /#website -->
	
	<!-- #website -->
	<div id="website" class="modal">
		<header class="bar bar-nav">
		   <a class="icon icon-close pull-left close-modal" href="#website"></a>
		   <h1 class="title">Natural History Mus...</h1>
		   <h4 class="title-url">http://www.nhm.ac.uk‎/</h4>
		</header>
		
		<object type="text/html" data="http://nhm.ac.uk/" id="nhm-website">
	    </object> 
	</div>
	<!-- /#website -->
	
	<div class="dark-overlay"></div>
	
	</body>
</html>