<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>Yello</title> 
        
        <script src="phonegap.js"></script>
        
        <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
          <link rel="stylesheet" href="lib/onsen/css/topcoat-mobile-onsen-ios7.css">    
          <link rel="stylesheet" href="assets/css/app.css"/>
        
          <script src="lib/onsen/js/angular/angular.js"></script>    
          <script src="lib/onsen/js/onsenui.js"></script>    
          
          <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
          
          <script src="static/scripts/jquery.min.js"></script>
          <!--<script src="static/scripts/ratchet.js"></script>-->
          <script src="static/fonts/pika/ss-pika.js"></script>
          <script src="static/scripts/carousel.min.js"></script>
          <!--<script src="static/scripts/menu.min.js"></script>-->
          <script src="static/scripts/app.js"></script>
          
    </head>
    <body>